node_modules

.next

.next/cache/webpack/client-development
.next/cache/webpack/server-development

.next/server
.next/server/pages
.next/server/pages/next/dist/pages

.next/static/chunks
.next/static/chunks/pages
.next/static/chunks/pages/next/dist/pages

.next/static/development

.next/static/webpack
.next/static/webpack/pages
